@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;

}
.container{
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20;
    box-sizing: border-box;
}
.detilis{
    background-color:rgba(16, 155, 233, 1);
}
.charge{
    padding-top: 101px;
    color: #fff;
font-family: Mulish;
font-size: 42px;
font-weight: 700;
line-height: 54.4px;
letter-spacing: 0.003em;
text-align: left;
max-width: 712px;

}